<div class="mcontent blog-section editable">
  <h3 class="section-title editable">From The Blog</h3>
  <div class="row">
    <div class="col col-2 post-thumb">
      <img width="568" height="319" src="{{ site.baseurl }}/assets/img/blogs-resources/msp.psa_.jpg" class="attachment-home-feed wp-post-image editable editable" alt="" />
    </div>
    <div class="col col-2 post-detail">
      <h2><a href="#" class="editable">Why MSPs Can't Afford Long PSA Implementations</a></h2>
      <div class="excerpt">
        <p class="editable">In the world of managed service providers (MSPs), there is a delicate balance between speed and service, especially when it comes to professional service automation (PSA) implementation. Most customers want their systems up and running yesterday, and they expect everything to run smoothly right out of the gate.</p>
      </div>
      <a class="readmore btn redborder editable" href="#">Read More about MSPs</a>
    </div>
  </div>
</div>
