<div class="section section2 one-column" style="background:url('{{ site.baseurl }}{{ page.photo_section_background_image }}') center center no-repeat;">
  <div class="mcontent">
    <span class="section-title editable" style="color:{{ page.photo_section_text_color_style }};">A Better Run Business <span class="italic editable" style="color:{{ page.photo_section_text_color_style }};">leads to</span>  a Better Quality of Life</span>
    <span class="section-copy editable" style="color:{{ page.photo_section_text_color_style }};">Stay a step ahead of the competition with Vorex’s business management platform that provides a simplified snapshot of your day-to-day business operations and overall profitability.  The end result?  Knowing that your kids will be the last thing you put to bed each night, not work.</span>
    <a class="section-link btn redborder editable" style="color:default; border-color:default; display:inline-block; float:initial;" href="#">See How We Can Help</a>
  </div>
</div>
