<div class="banner-slides">
  <div class="banner" style="background:url('{{ site.baseurl }}{{ page.hero_background_image }}') center center no-repeat;">
    <div class="mcontent">
      <h3 class="banner-title editable" style="color:{{ page.hero_title_color_style }};">Change your Life<span class="typed-wrap">&nbsp;<span class="typed"></span></span></h3>
      <div class="banner-tagline editable" style="color:{{ page.hero_paragraph_and_button_color_style }};"><p class="present-before-paste">Better project insight, automated invoicing, and intuitive operational management to grow your business, improve your efficiency and help your customers excel.</p></div>
      <a class="banner-link btn editable" title="Request a Free Trial" style="color:white; border-color:white; display:inline-block; float:left;" href="/contact">Free Trial</a>
    </div>
  </div>
</div>
