<div class="rt-section">
  <div class="mcontent">
    <h3 class="section-title editable">Reviews and Testimonials</h3>
    <div class="rt">
      <div class="quotes editable">Vorex has proven to be the simple, yet effective business management solution our software consulting firm needs to grow … Featuring a built-in CRM. And, with a robust set of time and billing features, Vorex has delivered simplicity without compromising our functionality.
      </div>
      <p class="editable">
        <span class="author-info">Sally Kindsfater<span class="company editable"> of <span><a href="#">Total Stream Systems</a></span></span>
        </span>
      </p>
      <span class="company-logo"><img alt="company logo" src="{{ site.baseurl }}/assets/img/logos-favicons/logo-total-stream.jpg" class="editable" /></span>
    </div>
  </div>
</div>
