<div class="section section1 columns-right">
  <div class="mcontent">
    <div class="col col-2 section-img">
      <img alt="section image" src="{{ site.baseurl }}/assets/img/labtop.jpg" class="editable" />
    </div>
    <div class="col col-2 section-detail">
      <span class="section-title editable">Technology that affects change in your business and your life</span>
      <span class="section-copy editable">Vorex’s cloud-based business management platform helps you focus on strategy to grow your business instead of tactical operational execution that frustrates, complicates and clogs up your day. We provide all the tools, tricks and power of a platform to run your business, including project management, accounting, time-tracking, invoicing, billing, help desk, ticketing, CRM, professional services automation and more.</span>
      <a class="section-link btn redborder editable" href="#" style="display:inline-block; float:left;">Learn More</a>
    </div>
  </div>
</div>
