{% include head.html %}

<body class="parallax">
  <!-- navigation -->
  {% include header.html %}


	<div id="primary" class="content-area posts single-post">
		<div class="mcontent">
			<main id="main" class="col col-l-6 site-main">
				<article class="post type-post status-publish format-standard has-post-thumbnail hentry category-blog">
					<header class="entry-header">
				    <h1 class="entry-title">{{ page.title }}</a></h1>
				    <span class="posted-on"><span class="screen-reader-text">Posted on {{ page.date | date: "%b %-d, %Y" }}</span>
				    <span class="author">By <a href="{{ site.url }}">Vorex</a></span>
				    <span class="publish-date">on <time class="entry-date published updated" datetime="{{ post.date | date: "%b %-d, %Y" }}">{{ page.date | date: "%b %-d, %Y" }}</time></span>
				    <span class="cat-links"><span class="screen-reader-text">Categories</span><a href="#">Blog</a></span>
				  </header>
					<div class="post-thumbnail">
						<img width="825" height="510" src="{{ site.baseurl }}{{ page.blog_image_path }}" class="attachment-post-thumbnail" alt="{{ page.title }}" />
					</div>
					<div class="entry-content">
						{{ content }}
					</div>
				</article>
			</main>
		</div>
	</div>

  {% include footer.html %}

  {% include scripts.html %}
</body>
</html>
